<?xml version="1.0"?>
<config>
    <modules>
        <Ecocode_Minify>
            <version>0.0.4</version>
            <summary>Ecocode Minify is a Magento Module, to minify your merged CSS and JS files.</summary>
            <license>OSL 3.0</license>
        </Ecocode_Minify>
    </modules>
    <default>
        <ecocode_minify>
            <settings>
                <warmup>0</warmup>
                <debug_log>1</debug_log>
            </settings>
        </ecocode_minify>
    </default>
    <global>
        <models>
            <ecocode_minify>
                <class>Ecocode_Minify_Model</class>
                <resourceModel>ecocode_minify_resource</resourceModel>
            </ecocode_minify>
            <ecocode_minify_resource>
                <class>Ecocode_Minify_Model_Resource</class>
                <entities>
                    <minify_log>
                        <table>ecocode_minify_log</table>
                    </minify_log>
                </entities>
            </ecocode_minify_resource>
            <core>
                <rewrite>
                    <design_package>Ecocode_Minify_Model_Design_Package</design_package>
                </rewrite>
            </core>
        </models>
        <resources>
            <ecocode_minify_setup>
                <setup>
                    <module>Ecocode_Minify</module>
                </setup>
            </ecocode_minify_setup>
        </resources>
        <helpers>
            <ecocode_minify>
                <class>Ecocode_Minify_Helper</class>
            </ecocode_minify>
        </helpers>
        <blocks>
            <ecocode_minify>
                <class>Ecocode_Minify_Block</class>
            </ecocode_minify>
        </blocks>
        <events>
            <clean_media_cache_before>
                <observers>
                    <ecocode_minify>
                        <class>ecocode_minify/observer</class>
                        <type>model</type>
                        <method>createNewSuffix</method>
                    </ecocode_minify>
                </observers>
            </clean_media_cache_before>
            <clean_media_cache_after>
                <observers>
                    <ecocode_minify>
                        <class>ecocode_minify/observer</class>
                        <type>model</type>
                        <method>copyCache</method>
                    </ecocode_minify>
                </observers>
            </clean_media_cache_after>
        </events>
    </global>
    <admin>
        <routers>
            <ecocode_minify>
                <use>admin</use>
                <args>
                    <module>Ecocode_Minify</module>
                    <frontName>EcoMinify</frontName>
                </args>
            </ecocode_minify>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ecocode_minify>
                    <file>ecocode_minify.xml</file>
                </ecocode_minify>
            </updates>
        </layout>
    </adminhtml>
</config>